<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
         <a class="navbar-brand" href="#">
              <img class="img-responsive" src="assets/fraunlogo.png"  alt="ASTROSE" >  
              <strong>ASTROSE</strong>
         </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
             
             <li ><a  routerLink="home" routerLinkActive="activeLink" >
             <strong>Home</strong></a></li>
             
             <li ><a  routerLink="dataVisualization" routerLinkActive="activeLink">
             <strong>Visualization</strong></a></li>
             
             <li ><a  routerLink="settings" routerLinkActive="activeLink" >
             <strong>Settings</strong></a></li>
             
             <li ><a  routerLink="configs" routerLinkActive="activeLink" >
             <strong>Configs</strong></a></li>
        </ul>   
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>




<div class="container-fluid" >
   <h1 class="page-header"></h1>
</div>

<div class="container">

 
<router-outlet></router-outlet>
      

        
        
 </div>






































    





<!-- 



<img  src="assets/fraun.png"  alt="ASTROSE" >

<nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container-fluid">
     <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
         </button>
              <a class="navbar-brand" href="#">Dashboard </a>
     </div>
     <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav navbar-right">
             <li ><a  routerLink="home" routerLinkActive="activeLink" >Home</a></li>
             <li ><a  routerLink="dataVisualization" routerLinkActive="activeLink">DataVisualization</a>
             </li>
             <li ><a  routerLink="settings" routerLinkActive="activeLink" >Settings</a></li>
             <li ><a  routerLink="help" routerLinkActive="activeLink" >Help</a></li>
           </ul>      
     </div>
  </div>
 </nav>


<div class="container-fluid" >
   <h1 class="page-header"></h1>
</div>

<div class="container">

 
<router-outlet></router-outlet>
      

        
        
 </div>










<div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">ASTROSE</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav navbar-right">
             <li ><a  routerLink="home" routerLinkActive="activeLink" >Home</a></li>
             <li ><a  routerLink="dataVisualization" routerLinkActive="activeLink">DataVisualization</a>
             </li>
             <li ><a  routerLink="settings" routerLinkActive="activeLink" >Settings</a></li>
             <li ><a  routerLink="help" routerLinkActive="activeLink" >Help</a></li>
           </ul>      
          </div>
          </div>
        </nav>

      </div>
    </div> 






















(click)="onClick()" >

<li *ngFor= "let address of macAddress">
                  <a [routerLink]="['/mac', address]">
                    {{address}}
                  </a>
              </li>

                  <li><a routerLink="mac/3s-ds-23-sf-23-ce-33">3s-ds-23-sf-23-ce-33</a></li>
                  <li><a routerLink="mac/3s-ds-23-sf-23-ce-34">3s-ds-23-sf-23-ce-34</a></li>
                  <li><a routerLink="mac/3s-ds-23-sf-23-ce-35">3s-ds-23-sf-23-ce-35</a></li>



                  <li><a routerLink="mac/3s-ds-23-sf-23-ce-33" routerLinkActive="activeLink" >3s-ds-23-sf-23-ce-33</a></li>
                  <li><a routerLink="mac/3s-ds-23-sf-23-ce-34" routerLinkActive="activeLink" >3s-ds-23-sf-23-ce-34</a></li>
                  <li><a routerLink="mac/3s-ds-23-sf-23-ce-35" routerLinkActive="activeLink" >3s-ds-23-sf-23-ce-35</a></li>

<app-temperature-inclination-component></app-temperature-inclination-component>
           Row with three columns divided in 1:4:1 ratio-->










          
                




          
































